/* Remove default style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Roboto Slab", serif;
}

*header {
  width: 100vw;
}

#nav_bar {
  background-color: #354739;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style navigation links */
a {
  padding: 20px 30px 20px 30px;
  color: #ebe5db;
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 2s;
}

a:hover {
  color: #354739;
  background-color: #ce8523;
}

a.active {
  text-underline-position: under;
  text-decoration: underline;
}

/*@keyframes slide_nav {
  from {
    margin-left: -100%;
    width: 300;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}*/

/* Style about.html content */
#about {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.6em;
}

#about img {
  display: block;
  margin: 50px auto 30px auto;
}

#about p {
  margin: 20px;
  text-align: center;
  color: #b35417;
  font-weight: 300;
}
