/* Remove default style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100vw;
  height: 40px;
}

#nav_bar {
  background-color: #354739;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style navigation links */
a {
  padding: 20px 30px 20px 30px;
  color: #ebe5db;
  text-align: center;
  text-decoration: none;
}

a:hover {
  color: #354739;
  background-color: #ce8523;
}

a.active {
  text-underline-position: under;
  text-decoration: underline;
}
