/* Remove default style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: "Roboto Slab", serif;
}

*header {
  width: 100vw;
}

#nav_bar {
  background-color: #354739;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style navigation links */
a {
  padding: 20px 30px 20px 30px;
  color: #ebe5db;
  text-align: center;
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 2s;
}

/* Change link color on hover */
a:hover {
  color: #354739;
  background-color: #ce8523;
}

/* Underline active link */
a.active {
  text-underline-position: under;
  text-decoration: underline;
}

/* Style about.html content */
#about {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.6em;
}

#about img {
  display: block;
  margin: 50px auto 30px auto;
  /* Add animation */
  animation: slide_img 1s 1;
}

/* Create sliding effect for image */
@keyframes slide_img {
  0% {
    margin-left: 300px;
  }

  50% {
    margin-left: -30px;
  }

  100% {
    margin-left: 150px;
  }
}

#about p {
  margin: 20px;
  text-align: center;
  color: #b35417;
  font-weight: 300;
}

/* Style gallery.html divs */
.col1 {
  display: flex;
  align-items: center;
  color: #ebe5db;
  background-color: #b35417;
  width: 1%;
  transition-property: width;
  transition-duration: 0.5s;
}

.col2 {
  display: flex;
  align-items: center;
  color: #b35417;
  background-color: #ebe5db;
  width: 1%;
  transition-property: width;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}

/* Style image captions */
#gallery p {
  font-size: 10px;
  cursor: default;
  transition-property: font-size;
  transition-duration: 0.2s;
}

/* Style gallery.html images */
#gallery img {
  vertical-align: middle;
  opacity: 0;
  /* Add transition */
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-delay: 0.5s;
  transition-timing-function: ease-in-out;
}

#recipe h1,
#recipe h2 {
  padding: 15px;
}

#ingredients {
  text-align: center;
  padding: 15px 0px 30px 0px;
  margin-left: auto;
  margin-right: auto;
  color: #354739;
  background-color: #ce8523;
}

#ingredients ul {
  list-style: none;
}

#ingredients li,
#steps p {
  font-size: 20px;
  line-height: 1.6em;
  font-style: italic;
}

#steps {
  text-align: center;
  padding: 15px 220px 30px 220px;
  margin-left: auto;
  margin-right: auto;
  color: #b35417;
  background-color: #ebe5db;
}
